.Weather-card {
    width: 60%;
    max-width: 400px;
    margin-bottom: 2%;
}

@media (max-width: 500px) {
    .Weather-card {
        width: auto;
    }
}

.Weather-card * {
    margin: auto;
    text-align: center;
    text-decoration: none;
    color: black;
}

.Weather-card img {
    width: 50%;
    max-width: 150px;
    margin: auto;
}