.Card {
    width: 45%;
    margin-bottom: 3%;
}

@media (max-width: 729px) {
    .Card {
        width: auto;
    }
}

.Card * {
    text-decoration: none;
    color: black;
}

.App-header.navbar {
    background-color: rgba(255, 255, 255, 0.6);
    position: sticky;
    top: 0;
    z-index: 2;
}

.App-header>.container {
    max-width: none;
    margin-left: 5vh;
    padding-left: 5px;
}

.Wrapper {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-bottom: 5vh;
    margin: 5vw;
}

.news {
    margin-bottom: 2vh;
    z-index: 1;
}

.Buttons {
    background-color: rgba(255, 255, 255, 0.6);
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    padding: 3vh 7vw 3vh 7vw;
    margin: 0;
}

.Buttons a {
    box-shadow: 2px 2px 10px rgba(100, 100, 100, 0.5);
}

.Reload {
    margin-left: 10px;
    margin-right: 10px;
}